<p>user-login works!</p>

<!-- <div class="form-container">
    <h1>Login Form</h1>
    <form #loginForm = 'ngForm'>
        <label>Username</label><br><br>
        <input type="text" #userName="ngModel" ngModel name="Uname" required><br>
        <div class="error-msg"*ngIf="userName.errors?.['required']&& userName?.touched">Username is Required</div><br><br>
        <label>Password</label><br><br>
        <input type="text" #password="ngModel" ngModel name="userPassword" required><br>
        <div class="error-msg" *ngIf="password.errors?.['required']&& password?.touched">Password is Required</div><br>
        <button (click)="login(loginForm.value)"[disabled]=!loginForm.valid>Submit</button>
    </form>
</div> -->

<div class="form-container">
    <h2>Login Form</h2>
    <form #loginForm ="ngForm">
        <label> UserName</label><br>
        <input type="text" #userName="ngModel" ngModel name="uName" required pattern="[a-zA-Z ]*$" minlength="2" maxlength="20" ngModel="Ankush">

        <div *ngIf="userName?.errors?.['required']  && userName?.touched" 
        class="error-msg">User Name is required</div>

        <div class="error-msg" *ngIf="userName?.errors?.['pattern'] && !userName?.errors?.['minlength'] ">
            Username Must be Alphabet Only
        </div>
        <div class="error-msg" *ngIf="userName?.errors?.['minlength']">Minimum 2 character are required </div>

        <br>


        <label> Password</label><br>
        <input [type]=" isShowPass ? 'text' : 'password'" #pass="ngModel" ngModel name="password" required  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,12}$ " >


        <div  *ngIf="pass.errors?.['required'] && pass?.touched" class="error-msg">
            Password is required</div>
            <i class="bi bi-eye-fill eye-icon" *ngIf="isShowPass" (click)="toShowPassword()"></i>
            <i class="bi bi-eye-slash-fill eye-icon2" *ngIf ="!isShowPass" (click)="toShowPassword()"></i>

        <div *ngIf ="pass?.errors?.['pattern']" class="error-msg">
            Invalid pattern
        </div>


        <br><br>
        <button (click)="login(loginForm.value)" [disabled]="!loginForm.valid">Submit</button>
    </form>

    <a routerLink="/user/signup">Click here to create account..</a>
</div>



