<p>user-login works!</p>

<!-- <div class="form-container">
    <h1>Login Form</h1>
    <form #loginForm = 'ngForm'>
        <label>Username</label><br><br>
        <input type="text" #userName="ngModel" ngModel name="Uname" required><br>
        <div class="error-msg"*ngIf="userName.errors?.['required']&& userName?.touched">Username is Required</div><br><br>
        <label>Password</label><br><br>
        <input type="text" #password="ngModel" ngModel name="userPassword" required><br>
        <div class="error-msg" *ngIf="password.errors?.['required']&& password?.touched">Password is Required</div><br>
        <button (click)="login(loginForm.value)"[disabled]=!loginForm.valid>Submit</button>
    </form>
</div> -->

<div class="form-container">
    <h2>Login Form</h2>
    <form #loginForm ="ngForm">
        <label> UserName</label><br>
        <input type="text" #userName="ngModel" ngModel name="uName" required>
        <div *ngIf="userName?.errors?.['required']  && userName?.touched" 
        class="error-msg">User Name is required</div>
        <br>
        <label> Password</label><br>
        <input type="text" #pass="ngModel" ngModel name="password" required>
        <div  *ngIf="pass.errors?.['required'] && pass?.touched" class="error-msg">
            Password is required</div>


        <br><br>
        <button (click)="login(loginForm.value)" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>